<%- include('templates/cabecera', {tituloWeb:'Mascotas'}); %>

  <div class="container">

    <h1>CRUD MongoDB</h1>

    <a
      class="btn btn-block btn-success my-4"
      href="/mascotas/crear"
    >
      Crear nueva mascota
    </a>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>

        <% if (arrayMascotas.length > 0) { %>
          <% arrayMascotas.forEach(mascota => { %>
            
            <tr>
              <th scope="row"><%= mascota.id %></th>
              <td><%= mascota.nombre %></td>
              <td><%= mascota.descripcion %></td>
              <td> Acciones </td>
            </tr>    
    
          <% }) %>
        <% } %>
        
      </tbody>
    </table>

  </div>

<%- include('templates/footer'); %>